@using Microsoft.AspNetCore.Identity
@using eGroceryStore.Areas.Data
@model eGroceryStore.Models.Product
@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Details";
}

<div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                        <img class="prd-img" src = "@Model.ProductPictureUrl" alt = "@Model.Name">
                </div>
                <div class = "product-div-right">
                    <span class = "product-name">@Model.Name</span>
                    <span class = "product-price">Price: @Model.Price.ToString("c")</span>
                    <span class = "product-price">Brand: @Model.Brand.Name</span>
                    <span class = "product-price">Category: @Model.Category.Name</span>
                    <span class = "product-price">Stock: @Model.ProductStock</span>
                    <p class = "product-description">Description: @Model.Description</p>
                    <p class = "product-description">Ingredients: @Model.Ingredients</p>
                    <div class = "btn-groups">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("admin") && @Model.ProductStock > 0)
                    {
                        <a class="btn btn-primary btn-lg" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class = "fas fa-shopping-cart"></i> Add to Cart</a>
                        <a  class="btn btn-secondary btn-lg" asp-action="Index">Back to List</a>
                        <a class="btn btn-warning btn-lg" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                        <a  class="btn btn-danger btn-lg" asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
                    }
                    else if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                    {
                        <a class="btn btn-secondary btn-lg" asp-action="Index">Back to List</a>
                        <a class="btn btn-warning btn-lg" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                        <a class="btn btn-danger btn-lg" asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
                    }
                    else if(@Model.ProductStock > 0 && signInManager.IsSignedIn(User))
                    {
                        <a class="button-stl" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class = "fas fa-shopping-cart"></i> Add to Cart</a>
                        <a  class="btn btn-secondary btn-lg" asp-action="Index">Back to List</a>
                    }
                    else
                    {
                        <a  class="btn btn-secondary btn-lg" asp-action="Index">Back to List</a>
                    }
                </div>
                </div>
            </div>
        </div>
    </div>