@using Microsoft.AspNetCore.Identity
@using eGroceryStore.Areas.Data
@model IEnumerable<Product>
@{
    ViewData["Title"] = "List of Product";
}

<div class="row" style="text-align: center;">
    <!-- Check if the Model has no items -->
    @if(Model.Count() == 0)
    {
        <h5>No products yet...</h5>
    }
    else
    {
        <!-- Iterate through each item in the Model -->
        @foreach (var item in Model)
        {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <!-- Bootstrap card to display product details -->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="text-align:center">
                            <p class="card-text">
                                <h5 class="card-title">@item.Name</h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="@item.ProductPictureUrl" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <p class="card-text"><b>Brand: </b>@item.Brand.Name</p>
                            <p class="card-text"><b>Category: </b>@item.Category.Name</p>
                            <p class="card-text"><b>Stock: </b>@item.ProductStock pieces</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (item.ProductStock > 0)
                                {
                                    <span class="badge bg-success text-white">Available</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-white">Out of stock</span>
                                }
                            </p>
                            <p class="card-text"><b>Price: </b>@item.Price.ToString("c")</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <div class="btn-group d-flex" role="group">
                                @if (item.ProductStock > 0)
                                {
                                    <a class="btn btn-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                    <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        }
</div>