@using Microsoft.AspNetCore.Identity
@using eGroceryStore.Areas.Data
@model IEnumerable<Product>

@{ 
    ViewData["Title"] = "Products list";
}
<!-- Button to add a new product -->
<div style="position:center; right: 25px; bottom: 25px;" class="text-white">
            <a class="btn btn-success text-white" asp-action="Create"> <i class="bi bi-cart-plus"></i> Add new product</a>
</div>
<!-- Bootstrap row with product list -->
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Shop Products List</h2>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate through each product in the Model -->
                @foreach (var item in Model)
                {
                <!-- Display product details in table rows -->
                <tr>
                    <td class="align-middle">@item.Id</td>
                    <td class="align-middle">@item.Name</td>
                    <td class="align-middle">@item.Category.Name</td>
                    <td class="align-middle">@item.Brand.Name</td>
                    <td class="align-middle">@item.Price</td>
                    <td class="align-middle">@item.ProductStock</td>
                    <!-- Buttons to view product details, edit or delete product -->
                    <td class="align-middle">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                    <td class="align-middle">
                       <a class="btn btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>