@using Microsoft.AspNetCore.Identity
@using eGroceryStore.Areas.Data
@model IEnumerable<ApplicationUser>

@{ 
    ViewData["Title"] = "Users list";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Users List</h2>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Adress</th>
                    <th>Phone Number</th>
                    <th>User Orders</th>
                </tr>
            </thead>
            <tbody>
                @if(Model is null)
                {
                    <tr>No orders yet!</tr>
                }
                else
                {
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">@item.Email</td>
                    <td class="align-middle">@item.FirstName</td>
                    <td class="align-middle">@item.LastName</td>
                    <td class="align-middle">@item.Address</td>
                    <td class="align-middle">@item.PhoneNumber</td>
                    <th>
                        <a class="btn btn-primary float-right" asp-controller="Orders" asp-action="GetOrderByUserId" asp-route-user="@item.Id">
                            <i class="bi bi-eye-fill"></i> Show Orders
                        </a>
                    </th>
                </tr>
                }
                }
            </tbody>
        </table>
    </div>
</div>